fastapi
uvicorn[standard]
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-postgres
sentence-transformers
torch # O la versione specifica che ti serve, es. torch==2.0.1+cpu
# tensorflow # Alternativa a torch se preferisci
unstructured[pdf]
psycopg2-binary
pgvector
python-dotenv
tiktoken